<!-- https://www.mongodb.com/atlas/database -->
MONGODB_URL=""
<!-- https://auth0.openai.com/u/login/identifier?state=hKFo2SA5SFVNeVBuTkM2WFNENTMtdTE0VEtyVEVXSkFWVlRtLaFur3VuaXZlcnNhbC1sb2dpbqN0aWTZIEx6VDl1MkhaWUtqRkpnVS16aDNubHNFazgycHBHU1Izo2NpZNkgRFJpdnNubTJNdTQyVDNLT3BxZHR3QjNOWXZpSFl6d0Q -->
OPENAI_API_KEY=""

<!-- https://cloudinary.com/ -->
CLOUDINARY_CLOUD_NAME=""
CLOUDINARY_API_KEY=""
CLOUDINARY_API_SECRET=""